.ShoppingBasket {
    padding-top: 5px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
}

.ShoppingBasket p{
    margin: 5px 10px;
}

.ShoppingBasket button {
    margin: 10px;
}

.ShoppingBasket button {
    height: 30px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: none;
    font-style: normal;
    font-family: 'PT Serif', serif;
    font-size: clamp(12px, 1vw, 14px);
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
}

.ShoppingBasket button:hover{
    background-color: rgb(164, 206, 255);
    transition: 0.3s;
}